<h4>Click to downgrade your account</h4>
<%= link_to "Downgrade Your Account", downgrade_create_path, method: :create, data: {confirm: 'Are you sure you want to downgrade? Private wikis will become public.'} %>

